*{
    margin: 0;
    padding: 0;
}
#main-table{
    border-collapse: collapse;
    overflow-x: auto;
}
td{
    min-width: 75px;
    height: 27px;
    border: 1px solid black;
    overflow-x: auto;
    outline: none;
}
.style-row{
    display: flex;
    justify-content: space-around;
}